/* .datepicker-date-display{
    background-color: #6A1B9A !important;
}

.btn-flat, .is-today{
    color: #AB47BC !important;
} */

/* input:focus {
    border-bottom:1px solid #6A1B9A !important;
    box-shadow: 0 1px 0 0 #6A1B9A !important;
    -webkit-box-shadow:0 1px 0 0 #6A1B9A !important;
} */

/* .addTrip, .month-prev, .month-next {
    color: #AB47BC !important;
} */
/* .is-selected {
    background-color: #AB47BC !important;
} */
body {
    overflow:hidden;
}

.addtrip {
    font-size: 1.5rem;
    display: inline-block;
    
}

.tooltip {
    visibility: visible;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 73px;
    left: 55px;
    
}
.tooltip-hidden {
    visibility: hidden;
}
.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #424242 transparent transparent;
}

.trip-list.section {
    border-right: 3px solid #b2dfdb;
    height: 60vh;
    overflow-y: auto;
    padding-top: 0;
    padding-bottom: 50px;
}


.fa-map-pin:hover {
    transform: scale(1.4);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: rgba(255, 255, 190, .4);;
}
.fa-map-pin-hover {
    transform: scale(1.4);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: rgba(255, 255, 190, .4);;
}

.trip-list-item {
    margin: 10px;
    margin-right: 20px;
    font-size: 14px;
    /* color: #616161  !important; */
}
.modal-trigger {
    color: #616161  !important;
}

.trip-list-item:hover {
    background-color: #b2dfdb;
    /* margin-right: 20px; */
    color: #004d40 !important;
    
}
.trip-list-item-hover{
    background-color: #b2dfdb;
    color: #004d40 !important;
}

.dashboard.section {
    margin-right: 11.25px;
    /* margin-bottom: 11.25px; */
}

#mapbox {
    display: flex;
    height: 88vh;
    overflow:hidden;
}

.mapbox-gl {
    height: 100%;
}

#myform.white {
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0) !important;

}

.searchbar {
    margin-top: 20px;
    margin-bottom: 10px;
}


.liquorcabinet {
    width : 100%;
    position: absolute;
    top :50px;
    /* display: grid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* picture frame */
.gallery-wall{
    float: right;
    right: -6vw;
    /* position: relative; */
}
.picture-frame {
    width:56px; 
    height:56px;
    float: left;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50px;
    background-color: teal;
    /* border: 2px solid teal; */
}
.picture-frame:hover {
    /* background-color:  #4db6ac; */
    /* border: 2px solid #4db6ac; */
    transform: scale(1.01);
}

.picture-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.foward-action-shown{
    position: absolute;
    top: 60px;
    /* right: 5vw; */
    color: white;
    z-index: 999;
    transform: translateX(-9px);
    transition: top 5s;
    -webkit-transition: top 5s;
}
.foward-action-removed{
    /* position: absolute;
    top: 80px;
    right: 5vw;
    color: white;
    z-index: 0; */
    display: none !important;
}

.museum{
    /* border: solid 2px blue; */
    height: 26.5vh; 
    width: 56px; 
    position: absolute; 
    top: .3vw;
    right: 5vw;
    z-index: 999;
}

.fab-buttons{
    margin-top: 4vh;
}
.fab-buttons :hover{
    background-color:  #4db6ac;
}

.triptoggle {
    margin-top: 10px;
    text-align: center;
}

