/* .datepicker-date-display{
    background-color: #6A1B9A !important;
}

.btn-flat, .is-today{
    color: #AB47BC !important;
} */

/* input:focus {
    border-bottom:1px solid #6A1B9A !important;
    box-shadow: 0 1px 0 0 #6A1B9A !important;
    -webkit-box-shadow:0 1px 0 0 #6A1B9A !important;
} */

/* .addTrip, .month-prev, .month-next {
    color: #AB47BC !important;
} */
/* .is-selected {
    background-color: #AB47BC !important;
} */
body {
    overflow:hidden;
}

.addTrip {
    font-size: 1.5rem;
}

.trip-list.section {
    border-right: 3px solid #b2dfdb;
    height: 60vh;
    overflow-y: auto;
}


.fa-map-pin:hover {
    transform: scale(1.4);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: rgba(255, 255, 190, .4);;
}
.fa-map-pin-hover {
    transform: scale(1.4);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: rgba(255, 255, 190, .4);;
}

.trip-list-item {
    margin: 10px;
    margin-right: 20px;
    font-size: 16px;
}

.trip-list-item:hover {
    background-color: #b2dfdb;
    /* margin-right: 20px; */
}
.trip-list-item-hover{
    background-color: #b2dfdb;
}

.dashboard.section {
    margin-right: 11.25px;
    /* margin-bottom: 11.25px; */
}

#mapbox {
    display: flex;
    height: 88vh;
    overflow:hidden;
}

.mapbox-gl {
    height: 100%;
}

#myform.white {
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0) !important;

}


.liquorcabinet {
    width : 100%;
    position: absolute;
    top :50px;
    /* display: grid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* picture frame */
.gallery-wall{
    float: right;
    right: -6vw;
    /* position: relative; */
}
.picture-frame {
    font-size: 1.7em;
    font-weight: 200;
    width:56px; 
    height:56px;
    float: left;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50px;
    background-color: teal;
    /* border: 2px solid teal; */
}
.picture-frame:hover {
    /* background-color:  #4db6ac; */
    /* border: 2px solid #4db6ac; */
    transform: scale(1.01);
}

.picture-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.foward-action-shown{
    position: absolute;
    top: 60px;
    /* right: 5vw; */
    color: white;
    z-index: 999;
    transform: translateX(-9px);
    transition: top 5s;
    -webkit-transition: top 5s;
}
.foward-action-removed{
    /* position: absolute;
    top: 80px;
    right: 5vw;
    color: white;
    z-index: 0; */
    display: none !important;
}

.museum{
    /* border: solid 2px blue; */
    height: 26.5vh; 
    width: 56px; 
    position: absolute; 
    top: .3vw;
    right: 5vw;
    z-index: 999;
}

.fab-buttons{
    margin-top: 4vh;
}
.fab-buttons :hover{
    background-color:  #4db6ac;
}



.profile-picture-frame {
    color: white;
    font-size: 2em;
    font-weight: 200;
    width:100px; 
    height:100px;
    float: left;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50px;
    background-color: teal;
    border: 2px solid teal;
}
.profile-picture-frame p{
    font-size: 1.7em;
}
.profile-picture-frame:hover {
    /* background-color:  #4db6ac; */
    /* border: 2px solid #4db6ac; */
    /* transform: scale(1.01); */
}

.profile-picture-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.profile-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;

}

.profile-top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.profile-top-row h3{
    display: flex;
}

.profile-second-row{
    padding-top: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-second-row button{
    background-color: teal;
}

.old-password-input {
    visibility: hidden;
}

.new-password-input {
    visibility: hidden;
}
