/* .datepicker-date-display{
    background-color: #6A1B9A !important;
}

.btn-flat, .is-today{
    color: #AB47BC !important;
} */

/* input:focus {
    border-bottom:1px solid #6A1B9A !important;
    box-shadow: 0 1px 0 0 #6A1B9A !important;
    -webkit-box-shadow:0 1px 0 0 #6A1B9A !important;
} */

/* .addTrip, .month-prev, .month-next {
    color: #AB47BC !important;
} */
/* .is-selected {
    background-color: #AB47BC !important;
} */
body {
    overflow:hidden;
}

.addtrip {
    font-size: 1.5rem;
    display: inline-block;
    
}

.tooltip {
    visibility: visible;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 73px;
    left: 55px;
    
}
.tooltip-hidden {
    visibility: hidden;
}
.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #424242 transparent transparent;
}

.trip-list.section {
    border-right: 3px solid #b2dfdb;
    height: 60vh;
    overflow-y: auto;
    padding-top: 0;
    padding-bottom: 50px;
}


.fa-map-pin:hover {
    transform: scale(1.4);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: rgba(255, 255, 190, .4);;
}
.fa-map-pin-hover {
    transform: scale(1.4);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: rgba(255, 255, 190, .4);;
}

.trip-list-item {
    margin: 10px;
    margin-right: 20px;
    font-size: 14px;
    /* color: #616161  !important; */
}
.modal-trigger {
    color: #616161  !important;
}

.trip-list-item:hover {
    background-color: #b2dfdb;
    /* margin-right: 20px; */
    color: #004d40 !important;
    
}
.trip-list-item-hover{
    background-color: #b2dfdb;
    color: #004d40 !important;
}

.dashboard.section {
    margin-right: 11.25px;
    /* margin-bottom: 11.25px; */
}

#mapbox {
    display: flex;
    height: 88vh;
    overflow:hidden;
}

.mapbox-gl {
    height: 100%;
}

#myform.white {
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0) !important;

}

.searchbar {
    margin-top: 20px;
    margin-bottom: 10px;
}

.triptoggle {
    margin-top: 10px;
    text-align: center;
}
