/* .datepicker-date-display{
    background-color: #6A1B9A !important;
}

.btn-flat, .is-today{
    color: #AB47BC !important;
} */

/* input:focus {
    border-bottom:1px solid #6A1B9A !important;
    box-shadow: 0 1px 0 0 #6A1B9A !important;
    -webkit-box-shadow:0 1px 0 0 #6A1B9A !important;
} */

/* .addTrip, .month-prev, .month-next {
    color: #AB47BC !important;
} */
/* .is-selected {
    background-color: #AB47BC !important;
} */
body {
    overflow:hidden;
}

.addTrip {
    font-size: 1.5rem;
    min-width: 40px !important;
    
}

/* new trip modal resize issue fix */
#newtrip {
    width: 80%;
    max-height: 80%;
}

.tooltip {
    /* visibility: visible; */
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 73px;
    left: 55px;
    
}
.tooltip-hidden {
    display: none;
}
.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #424242 transparent transparent;
}
.searchbar {
    margin: 0 10px 10px 10px;
    width: 70%;
}

.addtrip-searchtrip {
    display: flex;
    margin-left: 0 !important;
    margin-bottom: 0 !important;

}

.trip-list.section {
    border-right: 3px solid #b2dfdb;
    height: 60vh;
    overflow-y: auto;
    padding-top: 0;
    padding-bottom: 50px;
}


.fa-map-pin:hover {
    transform: scale(1.4);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: rgba(255, 255, 190, .4);;
}
.fa-map-pin-hover {
    transform: scale(1.4);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: rgba(255, 255, 190, .4);;
}

.trip-list-item {
    margin: 10px;
    margin-right: 20px;
    font-size: 14px;
    /* color: #616161  !important; */
}
.modal-trigger {
    color: #616161  !important;
}

.trip-list-item:hover {
    background-color: #b2dfdb;
    /* margin-right: 20px; */
    color: #004d40 !important;
    
}
.trip-list-item-hover{
    background-color: #b2dfdb;
    color: #004d40 !important;
}

.dashboard.section {
    margin-right: 11.25px;
    /* margin-bottom: 11.25px; */
}

#mapbox {
    display: flex;
    height: 88vh;
    overflow:hidden;
}

.mapbox-gl {
    height: 100%;
}

#myform.white {
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0) !important;
    margin: 0;
    min-width: 100%;
}
.add-new-trip-container {
    width: 80% !important;
}

.datepicker-modal {
    width: 80% !important;
}

.modal-footer{
    padding-bottom: 0;
}

.liquorcabinet {
    width : 100%;
    position: absolute;
    top :50px;
    /* display: grid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* picture frame */
.gallery-wall{
    float: right;
    right: -6vw;
    /* position: relative; */
}
.picture-frame {
    font-size: 1.7em;
    font-weight: 200;
    width:56px; 
    height:56px;
    float: left;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50px;
    background-color: teal;
    border: 3px solid teal;
}
.picture-frame:hover {
    /* background-color:  #4db6ac; */
    /* border: 2px solid #4db6ac; */
    transform: scale(1.01);
}

.picture-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.foward-action-shown{
    position: absolute;
    top: 60px;
    /* right: 5vw; */
    color: white;
    z-index: 999;
    transform: translateX(-9px);
    transition: top 5s;
    -webkit-transition: top 5s;
}
.foward-action-removed{
    /* position: absolute;
    top: 80px;
    right: 5vw;
    color: white;
    z-index: 0; */
    display: none !important;
}

.museum{
    /* border: solid 2px blue; */
    height: 26.5vh; 
    width: 56px; 
    position: absolute; 
    top: .3vw;
    right: 5vw;
    z-index: 999;
}

.fab-buttons{
    margin-top: 4vh;
}
.fab-buttons :hover{
    background-color:  #4db6ac;
}

.profile-picture-frame {
    color: white;
    font-size: 2em;
    font-weight: 200;
    width:100px; 
    height:100px;
    float: left;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50px;
    background-color: teal;
    border: 4px solid teal;
}
.profile-picture-frame p{
    font-size: 1.7em;
}
.profile-picture-frame:hover {
    /* background-color:  #4db6ac; */
    /* border: 2px solid #4db6ac; */
    /* transform: scale(1.01); */
}

.profile-picture-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.profile-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: space-between; */
}

.modal-content { 
    padding-bottom: none !important;
}

.profile-top-row{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;

}

.profile-top-row h3{
    display: flex;
}

.profile-second-row{
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 240px;
}

.profile-second-row button{
    background-color: teal;
}

.old-password-input {
    visibility: hidden;
}

.new-password-input {
    visibility: hidden;
}

.password-fields {
    width: 60% !important;
}
.change-password-button {
    margin: 20px;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
10%, 90% {
    transform: translate3d(-1px, 0, 0);
}

20%, 80% {
    transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
}

40%, 60% {
    transform: translate3d(4px, 0, 0);
}
}

.fileupload-wrapper{
    opacity: 0;
    width : 100px;
    height: 100px; 
    position: absolute;
    border-radius: 50px;
    z-index: 1000;
    /* float: left; */
}
.fileupload-wrapper input{
    border-radius: 50px;
    width : 100%;
    height: 100%; 
    /* float: left; */
}

.fileupload-icon{
    opacity: 0;
    /* width : 100px; */
    /* height: 100px;  */
    position: absolute;
    transform: translateY(35px);
    z-index: 999;
    /* border-radius: 60px; */
    background-color: rgba(255, 255, 255, .4);
    text-align: center;
    /* height: 100; */
    width: 100px;
    /* border-radius: 50px; */
    /* float: left; */
}
.fileupload-icon i{
    font-weight: 900;
    /* opacity: 0; */
    /* width : 100px; */
    /* height: 100px;  */
    /* justify-content: baseline;
    align-items: flex-end;  */
    /* position: absolute; */
    /* border-radius: 50px; */
    /* float: left; */
} 

.triptoggle {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.profile-tool-tip{
    left: 130px;
    width: 60px;
    visibility: visible;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: relative;
    z-index: 1;
    top: 2px;
    left: -40%;
}

.profile-tool-tip:hover{
    left: -39%;
}

.profile-tool-tip::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #424242 ;
}

.undodelete-tooltip {
    float: right;
    left: -8px;
    width: 100px !important;
    visibility: visible;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: relative;
    z-index: 1;
    top: 4px;
    /* left: -40%; */
}
.undodelete-tooltip:hover{
    left: -5px;
}
.undodelete-tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #424242 ;
}

#saving {
    position: absolute;
    display: none;
    top: 5px;
    left: 15px;
    color: #616161;
}

#loading {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    margin: 15% 43%;
}

.modal-footer {
    display: none !important;

}

.landingtitle {
    margin-left: 15px;
    margin-bottom: 0;
    /* margin-top: 20px; */
}

.signin-signup {
    margin-top: 0;
}

.landing-page-div {
    margin-top: 20px;
}

.trip-title {
    margin-bottom: 0;
}

.helper-text {
    margin-top: 25px;
    z-index: 10;
    cursor: pointer;
}

.helper-text:hover {
    color:#26a69a !important;
}