/* .datepicker-date-display{
    background-color: #6A1B9A !important;
}

.btn-flat, .is-today{
    color: #AB47BC !important;
} */
/* 
input:focus {
    border-bottom:1px solid #6A1B9A !important;
    box-shadow: 0 1px 0 0 #6A1B9A !important;
    -webkit-box-shadow:0 1px 0 0 #6A1B9A !important;
} */

/* .addTrip, .month-prev, .month-next {
    color: #AB47BC !important;
} */
/* .is-selected {
    background-color: #AB47BC !important;
} */
body {
    overflow:hidden;
}

.addTrip {
    font-size: 1.5rem;
}

.trip-list {
    border-right: 3px solid #b2dfdb;
    height: 30%;
    overflow-y: auto;
}


.fa-map-pin:hover {
    transform: scale(1.4);
}
.fa-map-pin-hover {
    transform: scale(1.4);
}

.trip-list-item {
    margin: 10px;
    margin-right: 20px;
    font-size: 16px;
}

.trip-list-item:hover {
    background-color: #b2dfdb;
    /* margin-right: 20px; */
}
.trip-list-item-hover{
    background-color: #b2dfdb;
}

.dashboard.section {
    margin-right: 11.25px;
    /* margin-bottom: 11.25px; */
}

#mapbox {
    display: flex;
    height: 88vh;
    overflow:hidden;
}

.mapbox-gl {
    height: 100%;
}



