html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e0f2f1;
  min-height: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

form {
  padding: 20px;
  margin-top: 60px;
}

/* form button, form h5 {
  margin: 20px 0;
} */